 @import url('https://fonts.googleapis.com/css2?family=Arimo&family=Montserrat:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');

html {
    font-family: 'Arimo', sans-serif;
    background-color: #ffffff;
    color: #383E4B;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
body {
    max-width:950px;
    margin:auto;
}
header {
    text-align:center;
}
header img {
    max-width:250px;
    margin:auto;
    display:block;
}
header nav, footer nav, .partenaires img {
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

a {
    color:#0099d1;
    text-decoration:none;
}
a[href="#"] {
	color:#000;
}
img {
	max-width: 100%;
	height: auto;
	border:0;
	vertical-align: middle;
}
.social {
    font-size:3em;
    margin:1em;
    color:#000;
}
.professionfoi {
	display:grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 5%;
	grid-row-gap: 50px;
}
.pfbox {
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
	background-color: #f3f3f3;
	padding: 5%;
	text-align:center;
	border-radius:0.5em;
}
.communiques {
	border:2px solid #000;
	border-radius:0.5em;
	padding:1em;
	margin-top:1em;
	background:#f3f3f3;
}
/*
.professionfoi ul {
    column-count: 3;
}
.professionfoi li {
	display:inline-block;
	border: 1px solid #000;
	border-radius:1em;
	padding:0.75em;
	margin:0.5em;
}
*/
.partenaires {
  display: flex;
}
.partenaires section {
  flex: 50%;
  display:inline-block;
}
	
.partenaires img {
    height:70px;
    display:inline-block;
}
@media (max-width: 1000px) {
	.professionfoi {
		grid-template-columns: 50% 50%;
		grid-column-gap: 5%;
		grid-row-gap: 25px;
	}
.partenaires, .partenaires section {
  display:block;
}

}
@media (max-width: 600px) {
	.professionfoi, .pfbox, nav, .partenaires section {
		display:block;
	}
}
